* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: black; */
  color: rgb(201, 0, 0);
  text-align: center;
  background-image: url("../imgs/mars_corner-2.png");
  background-repeat: no-repeat;
}
