@font-face {
  font-family: "Averox";
  src: url("./../font/Averox-rgY9y.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(201, 0, 0, 0.6);
  background-image: url("../imgs/mars_corner-2.png");
  background-repeat: no-repeat;
  background-color: black;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > header,
.rowLabel,
#tableHeader {
  font-size: 50px;
  font-family: "Averox", Helvetica, Arial, sans-serif;
  align-content: center;
}

.rowLabel,
#tableHeader {
  font-size: 30px;
  font-weight: 700;
}

#solNum,
.rowVal {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

form > div {
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}

#start,
#submitBut {
  padding: 3px;
  margin: 3px;
  font-size: 15px;
}

table,
th,
td {
  border: 1px solid rgba(201, 0, 0, 0.4);
  border-collapse: collapse;
}

#noJavaScript > img {
  height: 400px;
  width: 500px;
  border-radius: 50px;
}

#main {
  display: none;
}
